*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: aliceblue;
}




body{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header{
    width: 100%;
    height: minmax(100dvh,auto);
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto 1fr repeat(2,auto);
    grid-template-areas:
     'nav nav nav nav nav'
     'hero hero hero hero hero'
     'box box box box box';
    background-image: linear-gradient(rgba(0, 0, 0, 0.3)) , url(../image/gettyimages-1473034913-612x612.jpg);
    background-size: cover;
    background-position: center;

}

.navbar{
    position: relative;
    grid-area: nav;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.navbar::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(121, 121, 121, 0.4);
    z-index: -1;
    filter: blur(100px);
}

.navbar .logo{
    width: 150px;
    height: auto;
}

.navbar svg{
    display: none;
}


.nav_first , .nav_seconde{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(1.1em, 5vw, 1.2em);
}

.nav_first a , .nav_seconde a{
    transition: 1.1s;
    border-bottom: 2px solid transparent;
}

.nav_first  *:hover,
 .nav_seconde *:hover{
    color: rgb(255, 166, 2);
    border-color: rgb(255, 166, 2);
}

header .hero{
    grid-area: hero;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.hero h5{
    margin: 0  min( 1.2rem, 6%);
    /* margin-top: clamp(130px, 5vh, 150px); */
    font-size: 1.3em;
    color: #bebec0b0;
}
.hero h1{
    color: #e4c07d;
    margin: 0 min( 1.2rem, 6%);
}

.hero p{
    margin: 0 min( 1.2rem, 6%);
    font-size: 1.1em;
    font-weight: 700;
    color: #bebec0b0;
}


header .tot{
    display: flex;
    justify-content: space-between;
    grid-area: box;
    height: 200px;
    gap: 2em;
    overflow-x: auto;
    margin-top: min(10px, 8%);
}

.tot::-webkit-scrollbar{
    display: none;
}


.tot .box{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    animation: span 8s infinite linear;
    
}





header .tot .box div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 100%;
    background-size: 100%;
    background-position: center;
    border-radius: 12%;
    opacity: 0.6;
}

.tot .box :nth-child(1){
    background-image: url(../image/cc.jpg);
}
.tot .box :nth-child(2){
    background-image: url(../image/c1.jpg);
}
.tot .box :nth-child(3){
    background-image: url(../image/c2.jpg);
}
.tot .box :nth-child(4){
    background-image: url(../image/c3.jpeg);
}
.tot .box :nth-child(5){
    background-image: url(../image/c4.jpeg);
}
.tot .box :nth-child(6){
    background-image: url(../image/c5.jpg);
}


@keyframes span{
    from{transform: translate(0%);}
    to{transform: translate(-100%);}
}



@media (max-width:700px){

    .navbar{
        justify-content: space-between;
    }

    .nav_first, .nav_seconde{
        display: none;
    }

    .navbar svg{
        display: flex;
        width: 50px;
        height: auto;
        color: aliceblue;
        margin-right: 20px;
    }

    

}



/* بداية القائمة */


.meun{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.meun .meun-text , .populas h2, .contact h2{
    width: 100%;
    min-height: 120px;
    background-color: #0f0e0e;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.meun-text h1{
    font-size: clamp(3em, 7vh , 3.4em);
    color: #c9c6c6a6;
    margin: 3vh 0;
}

.meun-text p{
    font-size: 1.4em;
    margin-bottom: 1.2em;
}


.our-meun {
    background-color: #050505ee;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(300px,1fr));
    justify-content: center;
    align-content: center;
    gap: min(3em);
    padding-top: 3em;
    padding-bottom: 20px;
}


.our-meun .dishe {
    min-height: 300px;
    border-radius: 20px;
    border: 2px solid #e4c07d;
    margin:  0 1em;
    
}

.dishe .img-dishe{
    width: 100%;
    height: 40%;
    background-size: 100%;
    background-position:  center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.our-meun .dishe:first-child .img-dishe{
    background-image: url(../image/c3.jpeg);
}
.our-meun .dishe:nth-child(2) .img-dishe{
    background-image: url(../image/food-photographer-jennifer-pallian-sSnCZlEWN5E-unsplash.jpg);
}
.our-meun .dishe:nth-child(3) .img-dishe{
    background-image: url(../image/cc.jpg);
}
.our-meun .dishe:nth-child(4) .img-dishe{
    background-image: url(../image/melissa-walker-horn-gtDYwUIr9Vg-unsplash.jpg);
}
.our-meun .dishe:nth-child(5) .img-dishe{
    background-image: url(../image/mae-mu-kbch-i63YTg-unsplash.jpg);
}.our-meun .dishe:nth-child(6) .img-dishe{
    background-image: url(../image/katherine-sousa-ln2R1wJ8TCM-unsplash.jpg);
}
.our-meun .dishe:nth-child(7) .img-dishe{
    background-image: url(../image/c5.jpg);
}.our-meun .dishe:nth-child(8) .img-dishe{
    background-image: url(../image/trinh-minh-th-69_TqDN5yKQ-unsplash.jpg);
}
.our-meun  .dishe:nth-child(9) .img-dishe{
    background-image: url(../image/katherine-sousa-ln2R1wJ8TCM-unsplash.jpg);
}
.our-meun  .dishe:nth-child(10) .img-dishe{
    background-image: url(../image/c1.jpg);
}



.text-dishe {
    position: relative;
    margin-left: 10px;
    color: #FFF;
}


.text-dishe h1{
    font-size: 1.4em;
    margin: 10px 0;
    color: #FFF;
    background-image: none;
}

.text-dishe p{
    font-size: 1.1em;
    margin:  0 min(10px);
}

.pay{
    margin: 15px 0;
    color: #e4c07d;
}


.text-dishe :nth-child(4){
    position: absolute;
    left: 10%;
    top: 110%;
    color: #948a8a83;
}


.text-dishe :nth-child(5){
    position: absolute;
    left: 75%;
    top: 80%;
    width: 50px;
    height: 50px;
    border: #5f5d5d 2px solid;
    padding: 10px;
    clip-path: circle(50px at 0 0);
}







/* نهاية القائمة */



/* بداية عنا */


.about{
    display: flex;
    flex-direction: column;
    background-color: #0f0e0e;
    width: 100%;
    height: auto;
    color: #FFF;
}

.about h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.about_content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    font-size: 1.1em;
}

/* نهاية عنا */


/* بداية تواصل */

.contact{
    background-color: #0f0e0e;
    width: 100%;
    height: max-content;
    border-top: 1px solid #636363;
}


.contact .contact_content{
    display: grid;
    grid-template-columns: repeat(minmax(1,2), minmax(300px,1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    
}

.contact_content  label{
    color: #FFF;
    font-size: 1.2em;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.contact_content label input{
    width: 80%;
    height: 70px;
    border: none;
    outline: none;
    border: 2px solid #fff;
    background-color: #07070796;
    color: #FFF;
    padding-left: 10px;
    border-radius: 20px;
    font-size: 1.1em;
}

.contact_content label:nth-child(3){
    width: 80vw;
    margin-bottom: 40px;
}
.contact_content label:nth-child(3) input{
    height: 200px;
}

.btn{
    border: 2px solid #fff;
    margin: auto 30px 30px;
    padding: 20px 40px;
    border-radius: 20px ;
    font-size: 1.3em;
}


/* نهاية تواصل */